<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ingresoysalida</servlet-name>
        <servlet-class>Controladores.ingresoysalida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>Controladores.prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloContratistas</servlet-name>
        <servlet-class>Controladores.moduloContratistas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloContenidos</servlet-name>
        <servlet-class>Controladores.moduloContenidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloOperaciones</servlet-name>
        <servlet-class>Controladores.moduloOperaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloDetalleOperaciones</servlet-name>
        <servlet-class>Controladores.moduloDetalleOperaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloOperacionesBack</servlet-name>
        <servlet-class>Controladores.moduloOperacionesBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validarEmail</servlet-name>
        <servlet-class>Controladores.ajax.validarEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>val</servlet-name>
        <servlet-class>Controladores.val</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validacionesVarias</servlet-name>
        <servlet-class>Controladores.validacionesVarias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPanelUsuarios</servlet-name>
        <servlet-class>Controladores.servletPanelUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloUsuarios</servlet-name>
        <servlet-class>Controladores.moduloUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletExtras</servlet-name>
        <servlet-class>Controladores.servletExtras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPanelOperaciones</servlet-name>
        <servlet-class>Controladores.servletPanelOperaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPdf</servlet-name>
        <servlet-class>Controladores.servletPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ingresoysalida</servlet-name>
        <url-pattern>/sesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloContratistas</servlet-name>
        <url-pattern>/contratisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloContenidos</servlet-name>
        <url-pattern>/conteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloOperaciones</servlet-name>
        <url-pattern>/moduloOperaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloDetalleOperaciones</servlet-name>
        <url-pattern>/moduloDetalleOperaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloOperacionesBack</servlet-name>
        <url-pattern>/operacionesBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validacionesVarias</servlet-name>
        <url-pattern>/generalValidaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPanelUsuarios</servlet-name>
        <url-pattern>/servletPU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloUsuarios</servlet-name>
        <url-pattern>/usuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletExtras</servlet-name>
        <url-pattern>/servletEx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPanelOperaciones</servlet-name>
        <url-pattern>/servletPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPdf</servlet-name>
        <url-pattern>/servletP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
